@import './normalize.css';
@import './variables.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  min-height: 100vh;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
button,
input,
select,
option,
label,
span {
  font-family: Karla;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  top: 0;
  bottom: 0;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  font-family: Karla;
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}

/* Универсальные анимации */
.fade-left-enter-active,
.fade-leave-active {
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fade-left-enter-from,
.fade-left-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}

.fade-bottom-enter-active,
.fade-bottom-leave-active {
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fade-bottom-move {
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fade-bottom-enter-from,
.fade-bottom-leave-to {
  transform: translateY(-50px);
  opacity: 0;
}
