@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import './normalize.css';
@import './variables.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1,
h2,
h3,
p,
button,
input,
select,
option {
  font-family: Karla;
}
